<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>랜덤으로 생성된 숫자를 맞춰 보세요!</h1>
      <h1 v-if="userInput < randNum">Up</h1>
      <h1 v-else-if="userInput > randNum">Down</h1>
      <h1 v-else-if="userInput == randNum">정답!</h1>
      <input type="text" v-model="userInput" maxlength="1" />
      {{randNum}} {{userInput}}
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      let vm = Vue.createApp({
        name: 'App',
        data() {
          return {
            randNum: parseInt(Math.random() * 10),
            userInput: 0,
          };
        },
      }).mount('#app');
    </script>
  </body>
</html>
